<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Test Dynamic Model</title>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.js"></script>
        <script type="text/javascript" src="bin/ng-dynamic-model.js"></script>

        <script type="text/javascript">
            var app = angular.module('test-app', [ 'ng-dynamic-model' ]);

            app.controller('TestController', [ '$scope', 'ModelBuilder', function($scope, modelBuilder) {
                $scope.model = modelBuilder.build();
            }]);
        </script>
    </head>

    <body ng-app="test-app" ng-controller="TestController" id="content">
        <form dynamic-model="::model">
            <input type="text" ng-model="test1" field-model-for="nested.test1" />

            <div field-condition-for="nested.test2" condition="[nested.test1] === 'hello'">
                 <input type="text" ng-model="test2" field-model-for="nested.test2" />
            </div>

            <button type="button" ng-click="model.set('nested', {})">Reset</button>

            <pre ng-bind="model.getState() | json"></pre>
        </form>
    </body>
</html>